:root {
  --euddeum:black
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header > input {
  margin-left: 20px;
}

header > button {
  margin-left: 20px;
  height: 30px;
  border-radius: 5px;
}

section {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.menu_bar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

section > ul > li > a {
  text-decoration: none;
  color: white;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: darkgray;
  height: 200px;
}
  
.text > p {
  color: white;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
}

aside {
  background-color: black;
  width: 100%;
  height: 800px;
  position: relative;
}

aside > p {
  color: white;
  position: absolute;
  left: 20%;
  top: 10%;
  font-size: 3em;
}
  

aside > div {
  position: absolute;
  border: 3px solid gray;
  width: 500px;
  height: 500px;
  left: 35%;
  top: 30%;
}


  

  

  
  
  



  
  
  



  



  
  

  
  
  


  
  
  
  
  








  
  
  










  



  


  


  
  

  


  

 

  




  



  
  

  
