main {
  background-color: black;
  position: relative;
  height: 900px;
}

main > div {
  border: 3px solid gray;
  width: 600px;
  height: 400px;
  position: absolute;
  right: 35%;
  margin-top: 200px;
}

main > button {
  background-color: blue;
  color: white;
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  right: 49%;
  top: 80%;
}

main > h2 {
  color: white;
  position: absolute;
  right: 46%;
  top: 90%;
}

.main_video {
  background-color: darkgray;
  height: 800px;
  text-align: center;
  position: relative;
}
  

.main_video > h1 {
  position: absolute;
  left: 500px;
  top: 200px;
}

.main_video > .main_text {
  position: absolute;
  left: 55%;
  top: 25%;
}

.main_video > .main_text > a {
  text-decoration: none;
  font-size: 15px;
}

.main_video > .main_box {
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: black;
  top: 270px;
  left: 500px;
  border-radius: 10px;
}

.main_video > .main_box > p {
  color: white;
  padding: 20px;
  width: 180px;
  font-size: 12px;
  text-align: start;
}